.About {
    padding: 60px;
    padding-bottom: 0px;
}

@media screen and (max-width: 1023px) {
    .About {
        padding-top: 10px;
        padding-right: 10px;
        padding-left: 10px;
    }
}

.aboutLayout {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    background: #F3F3F3;
    border-radius: 600px 600px 10px 10px;
}

@media screen and (max-width: 540px) {
    .aboutLayout {
        height: auto;
    }

}

.aboutHeading {
    padding-top: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1023px) {
    .aboutHeading {
        padding-top: 90px;
        padding-left: 30px;
        padding-right: 20px;
    }
}
@media screen and (min-width: 767px) {
    .aboutHeading {
        padding-top: 90px;
        padding-left: 70px;
        padding-right: 20px;
    }
}

.aboutText {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.055em;
    text-align: left;
    width: 60%;
    padding-top: 60px;
}
@media screen and (max-width: 430px) {
    .aboutText {
        display: none;
    }
}
@media screen and (max-width: 541px) {
    .aboutText {
        width: 90%;
    }
}
@media screen and (max-width: 430px) {
    .hidden {
        display: none;
    }
}
.MobileAbout {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.055em;
    text-align: left;
    padding-left: 24px;
    padding-right: 20px;
    padding-top: 20px;
}
@media screen and (min-width: 431px) {
    .MobileAbout {
        display: none;
    }
}



.button {
    padding-bottom: 60px;
}
@media screen and (max-width: 430px) {
    .button {
        padding-top: 40px;
    }
}