.Values {
    padding-top: 96px;
}

.valuesLayout {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F3F3F3;
    border-radius: 600px 600px 10px 10px;
    height: auto;
    padding-top: 300px;
    padding-left: 64px;
    padding-right: 64px;
    width: 100%;
}

@media (max-width: 1024px) {
    .valuesLayout {
        padding-left: 4px;
        padding-right: 4px;
    }
}

.valuesdiv {
    width: 100%;
}

.valuesText {
    margin-top: 32px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.weValue {
    margin-bottom: 24px;
    margin-left: 48px;
    font-size: 36px;
    font-weight: 500;
    padding-top: 120px;
}

@media (max-width: 1024px) {
    .weValue {
        font-size: 24px;
        font-weight: 500;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: left;
    }
}

.d {
    padding-top: 288px;
    padding-left: 64px;
    padding-right: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    height: auto;
    background: #fcfcfc;
    border-radius: 600px 600px 10px 10px;
    position: relative;
    z-index: 0;
}

.Swiper {
    padding: 16px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}