.FAQ {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    background-color: #F3F3F3;
}

@media (max-width: 1024px) {
    .FAQ {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.headline {
    font-size: 36px;
    padding-bottom: 32px;
    color: #1E0734;
    font-weight: 500;
    display: flex;
}

.question {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 4px;
    border-radius: 2px;
    background-color: #EDDBFE;
}

@media (max-width: 430px) {
    .question {
        padding-left: 14px;
        padding-right: 14px;
    }
}

.questiondiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
}

.buttondiv{
    
}

.button {
    line-height: 1.625;
    width: 100%;
    text-align: left;
    padding-right: 20px;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #1E0734;
    font-weight: bold;display: flex;
    flex-direction: row;
}
@media (max-width: 430px) {
    .button {
       font-size: 16px;
    }
}

.span{
    display: flex;
    justify-self: end;
    align-self: end;
}

.answer {
    font-weight: 400;
    padding-bottom: 24px;
}

@media (min-width: 1024px) {
    .answer {
        width: 40%;
    }
}